<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Mvvm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mvvm.Properties.Settings>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ReadTimeout" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="WriteTimeout" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="SelectedConnection" serializeAs="String">
                <value>SerialPort</value>
            </setting>
            <setting name="StartAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EndAddress" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="SlaveId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DelayBetweenPolls" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ResponseTimeout" serializeAs="String">
                <value>20</value>
            </setting>
        </Mvvm.Properties.Settings>
    </userSettings>
</configuration>
